<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/songs/new"></a>ADD song</a>
        <a href="/song">All songs</a>
    </nav>
    <h2>Enter a New Song</h2>
<form action ="/songs" method="POST">
<label>Song Title:</label>
    <input type ="text" name="title">
<label>Release Date:</label>
    <input type="datetime-local" name="releaseDate">
<label>Album:</label>
    <input type="text" name ="album">
<label>Artist:</label>
    <input type="text" name="'artist">
    <input type="submit" value="Add Song">
</form>
</body>
</html>
















</form>
</body>
</html>